<!DOCTYPE html>
<html lang="{{ config.extra.language }}">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{{ config.extra.title }}{% endblock title %}</title>
		<link rel="stylesheet" href="{{ config.base_url }}/css/simple.css" />
		<link rel="stylesheet" href="{{ config.base_url }}/css/classes.css" />

		{# Add link for RSS apps to catch. Example from Pelican theme #}
		{# {% if FEED_ALL_ATOM %} #}
		{# <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }}" /> #}
		{# {% endif %} #}		
	</head>

	<body>
		{# ToDo : implement : add top_banner #}

		<header>
			<h1>
				<a href="{{ config.base_url }}">
					{{ config.extra.title }}
						{# ToDo : implement : add strong subtitle for categories and tags #}
						{#                    example : JOHN DOE > blog #}
				</a>
			</h1>

			<nav>
				{% set index = get_section(path="_index.md") %}
				{% for s in index.subsections %}
				{% set subsection = get_section(path=s) %}
				<a href="{{ subsection.permalink }}" {% if current_path == subsection.path %}class="active"{% endif %}>
					{{ subsection.title }}
				</a>
				{% endfor %}
			</nav>
			
			{# ToDo : implement : submenu for categories #}
			{% if config.extra.show_categories_submenu %}
			<nav>
				{% for item in config.extra.menu_items %}
				<a href="{{ item.url }}"{% if current_path is starting_with("/{{ item.name }}") %} class="active"{%endif%}>
					{{ item.name }}
				</a>
				{% endfor %}
			</nav>
			{% endif %}
			
		</header>

		<main>
			{% block content %} {% endblock %}
		</main>

		<footer>
			{% block comment %} {% endblock %}
			{% if config.extra.license %}
			<p>
				All work is licensed under <strong>{{ config.extra.license }}</strong> unless otherwise is stated.
			</p>
			{% endif %}
			
			{# ToDo : implement : 512KB club banner #}
		</footer>
	</body>
</html>
