{% macro comment(comment_url) %}
<hr style="border: none; border-top: 1px solid">
<h2>Comments</h2>
<p> Looking for comments?
    Reply on <a href="{{ comment_url }}">this thread</a> to comment. Comments won't appear here.
</p>
{% endmacro comment %}

{# ToDo #}
{% macro category() %}
{% endmacro category %}