{% extends "index.html" %}
{% import 'macros.html' as macro %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
<h1>
	{{ page.title }}
</h1>
<p><strong>{{ page.date }}</strong></p>

{{ page.content | safe }}

{% if page.extra.comment is defined %}
{{ macro::comment(comment_url=page.extra.comment) }}
{% endif %}

{% endblock %}
