{% extends "index.html" %}

{% block content %}

{{ section.content | safe }}

{% for page in section.pages %}
<h2>
	<a href="{{ page.permalink | safe }}">
		{{ page.title }}
	</a>
</h2>

<strong>{{ page.date }}</strong>
{% endfor %}

	{# ToDo : implement : Pagination #}
{% if section.paginate_by is defined %}
{% block pagination %}
<nav class="pagination">
    {% if paginator.previous %}
    <a rel="prev" href="{{paginator.previous}}">← prev</a></span>
    {% endif %}

    {% if paginator.next %}
    <a rel="next" href="{{paginator.next}}">next →</a></span>
    {% endif %}
</nav>
{% endblock pagination %}
{% endif %}

{% endblock content %}
